@{
  Layout = "_Layout";
}
@Html.ActionLink("Register", "Register", "Account") | @Html.ActionLink("Log in", "Account")

<form action="/Home/Details" method="post">
  <label for="search">Search</label>
  <input type="text" id="search" name="search">
  <button type="submit" class="btn btn-primary">Submit!</button>
</form>

<h1>Welcome to the Bakery!</h1>
