@{
  Layout = "_Layout";
}

@using PierreAuth.Models;

<h1>Here is a list of recipes that Pierre is inspired by</h1>

@{
  Layout = "_Layout";
}


<h1>All Available Recipes:</h1>
@foreach (Recipe recipe in Model)
{
    <ul>
        <li>Title: @recipe.Title</li>
    </ul>
    <br>
}


<p>@Html.ActionLink("Back to list", "Index")</p>
