@{
  Layout = "_Layout";
}

@using PierreAuth.Models;
@model List<PierreAuth.Models.Treat>;

<h1>Treats for @User.Identity.Name</h1>

@if (Model.Any())
{
    @foreach (Treat treat in Model)
    {
      <p><h3>@Html.ActionLink($"{treat.Description}", "Details", new { id = treat.TreatId })</h3></p>
    }
} 

else
{
  <h3>No Flavors have been added yet!</h3>
}

@Html.ActionLink("Add new Treat", "Create")<br>